<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class = 'bg-zinc-900'>
    <div class="bg-zinc-900 px-10 py-10">
        <form method="post" action="/login">
        <input class= 'px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white'type="email" placeholder=" enter your email" name="email">
        <input class= 'px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white'type="password" placeholder="password" name="password">
        <button class = 'bg-blue-800  p-2 ml-4 rounded-md'>Log In</button>
    </form>
    </div>
    
</body>
</html>